---
title: Novium Designbyrå - Portfolio
keywords: Designbyrå, Novium Designbyrå, Novium Design, Förpackningsdesign, Logotype, Logotyp
description: Se projekt vi har arbetat med
body_class: portfolio-page
---

.container
  .works
    .row
      .span3.desc.visible-desktop
        %div
          .upper
            %h5 Interapp
            %p Logotypdesign för Interapp, en modern byrå som arbetar med digitala medier.
          .lower
            = link_to '>', 'portfolio/interapp.html'
      .span9.teaser
        - link_to 'portfolio/interapp.html' do
          = image_tag '/img/portfolio/preview/interapp.png'
    .row
      .span3.desc.visible-desktop
        %div
          .upper
            %h5 Resville Mathantverk
            %p
              Med genuint hantverk producerar Resville Mathantverk utsökta sylter och marmelader. Vi stod för förpackning och logotyp.
          .lower
            = link_to '>', 'portfolio/resvillemathantverk.html'
      .span9.teaser
        - link_to 'portfolio/resvillemathantverk.html' do
          = image_tag '/img/portfolio/preview/resville.jpg'
    .row
      .span3.desc.visible-desktop
        %div
          .upper
            %h5 Logotypica
            %p
              Logotypica skapar symboler, logotyper och olika grafiska element.
          .lower
            = link_to '>', 'portfolio/logotypica.html'
      .span9.teaser
        - link_to 'portfolio/logotypica.html' do
          = image_tag '/img/portfolio/preview/logotypica.png'
    .row
      .span3.desc.visible-desktop
        %div
          .upper
            %h5 Kimbiacamp
            %p
              Vårt uppdrag: Ta fram känslan av den Kenyanska sanden. Läs om hur vi gick tillväga.
          .lower
            = link_to '>', 'portfolio/kimbiacamp.html'
      .span9.teaser
        - link_to 'portfolio/kimbiacamp.html' do
          = image_tag '/img/portfolio/preview/kimbiacamp.png'
    .row
      .span3.desc.visible-desktop
        %div
          .upper
            %h5 Logopederna
            %p
              Webbdesign och branding för Logopederna i Stockholm.
          .lower
            = link_to '>', 'portfolio/logopederna.html'
      .span9.teaser
        - link_to 'portfolio/logopederna.html' do
          = image_tag '/img/portfolio/preview/logopederna.png'
    .row
      .span3.desc.visible-desktop
        %div
          .upper
            %h5 Klostermark
            %p Klostermark Accounting är en nytänkande och spänannde aktör inom ekonomiska tjänster för företag.
          .lower
            = link_to '>', 'portfolio/klostermark.html'
      .span9.teaser
        - link_to 'portfolio/klostermark.html' do
          = image_tag '/img/portfolio/preview/klostermark.jpg'